 
 {
 margem : 0 ;
 preenchimento : 0 ;
 }

 corpo {
 família de fontes : 'Poppins' , san;
 cor de fundo : #00c0eb ;
 }
 cabeçalho {
 cor de fundo : #383d58 ;
 cor branca ;
 }
 .cabecalho-imagem {
 largura : 20% ;
 altura : 20% ;
 margem : 18px 0 ;
 }
 .cabecalho-lista {
 display : bloco embutido ;
 margem : 0 16px ;
 justificar-conteúdo : espaço ao redor ;
 preenchimento : 24px 0 ;
 tamanho da fonte : 24px ;
 }
 .cabecalho {
 cor de fundo : #383D58 ;
 cor branca ;
 exibição : flexível ;
 justificar-conteúdo : espaço ao redor ;
 }

 .escola-imagem {
 largura : 25% ;
 }

 .escola {
 imagem de fundo : gradiente linear ( #383d58 , #00c0eb );
 cor branca ;
 exibição : flexível ;
 justificar-conteúdo : centro ;
 alinhar itens : centro ;
 preenchimento : 24px 0 ;
 }
 .escola-título {
 alinhamento de texto : centro ;
 preenchimento : 24px 0 ;
 }
 .escola-c/onteudo {






    
 largura : 35% ;
 }
 .seção {
 cor de fundo : #ffffff ;
 cor branca ;
 exibição : flexível ;
 justificar-conteúdo : espaço ao redor ;

 }
 .estudante-título {
 alinhamento de texto : centro ;
 família de fontes : 'Gill Sans' , 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif ;
 }



 .estudante {
 preenchimento : 26px 0 ;
 }
 .estudante-imagem {
 largura : 100px ;
 }

 .estudante-ícone {
 largura : 20px ;
 preenchimento : 4px 8px ;
 }

 .estudante-div {
 alinhamento de texto : centro ;
 preenchimento : 16px 0 ;
 }
 .rodape {
 cor de fundo : preto ;
 alinhamento de texto : centro ;
 }
 
 .rodape-imagem {
 altura : 45px ;
 preenchimento : 12px 0 ;
 }